<br />
<div class="col-sm-8" ng-controller="AddAdminController as AddAdminCtrl">
    <div class="panel panel-primary center">
        <div class="panel-body">
           <h4 class="pull-left">Add Admin</h4> 
            <md-button class="CustomButton md-primary pull-right" ng-href="#/administrators">Back</md-button>
            <br />
            <h3><label>Name:</label> <input type="text" class="form-control" ng-model="AddAdminCtrl.Admin.Name"></h3>
        </div>
        <div class="panel-footer">
           <md-button class="CustomButton md-primary" ng-click="AddAdminCtrl.Reset()">reset</md-button>
           <md-button class="CustomButton md-primary" ng-click="AddAdminCtrl.Save()">Save</md-button>
         </div>
    </div>
</div>

