
@{
    ViewBag.Title = "Administrators";
}

<h2>Administrators</h2>
<md-button class="CustomButton md-primary" ng-href="#/addadmin">Add</md-button>
<div  ng-cloak="" class="virtualRepeatdemoDeferredLoading">
    <md-content layout="column">


        <md-virtual-repeat-container id="vertical-container">
            <div md-virtual-repeat="admin in AdminCtrl.admins" class="repeated-item" flex="">
                {{admin.Name}}
                
                 <i class="material-icons2 btn-primary" style="float:right; margin-right:10px" ng-click="showConfirm($event,admin)">delete</i>
                <a class="material-icons2 btn-primary" ng-href="#/editadmin/{{admin.ID}}" style="float:right; margin-right:10px">mode_edit</a>
            </div>
        </md-virtual-repeat-container>
    </md-content>

</div>



<div class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="">

    <div ng-if="status" id="status">
        <b layout="row" layout-align="center center" class="md-padding">
            {{status}}
        </b>
    </div>
</div>


