
@{
    ViewBag.Title = "Administrators";
}

<h2>Administrators</h2>


<md-button class="md-raised md-warn">Hey!!!</md-button>
<div class="virtualRepeatdemoVerticalUsage">
    <md-content layout="column">
        
        <div ng-repeat="admin in AdminCtrl.getAllAdmins">
            buna
            {{admin.Name}}
        </div>

    </md-content>

</div>
