
@{
    ViewBag.Title = "Administrators";
}

<h2>Administrators</h2>
<div  ng-cloak="" class="virtualRepeatdemoDeferredLoading">
    <md-content  layout = "column " style="background-color: transparent">
        <div>
            <md-input-container flex="">
                <label>Search
                    <i class="material-icons">search</i> 
                </label>
                <input type="text" ng-model="searchAdmin">
            </md-input-container>

            <md-button class="CustomButton md-primary pull-right" ng-href="#/addadmin"
                       style="position: fixed;
                        left: 50%;"
                       >Add</md-button>
            <br />

            <br />
        </div>
        <md-virtual-repeat-container id="vertical-container">
            <div md-virtual-repeat="admin in AdminCtrl.admins | filter:searchAdmin" class="repeated-item" flex="">
                {{admin.Name}}
                
                 <i class="material-icons2 btn-primary" style="float:right; margin-right:10px" ng-click="showConfirm($event,admin)">delete</i>
                <i class="material-icons2 btn-primary" style="float:right; margin-right:10px">mode_edit</i>
            </div>
        </md-virtual-repeat-container>
    </md-content>

</div>



<div class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="">

    <div ng-if="status" id="status">
        <b layout="row" layout-align="center center" class="md-padding">
            {{status}}
        </b>
    </div>
</div>


