@{
    ViewBag.Title = "Questions";
}

<div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
    <div class="col-md-2">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th>Questions({{questionCtrl.Questions.TotalCount}} on {{questionCtrl.maxPages}} pages)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in questionCtrl.Questions.Items" ng-click="questionCtrl.selectQuestion(question)" style="cursor: pointer">
                    <td>
                        <b>{{question.Number}}</b> - ({{question.Section}})
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12">
            <md-button class="md-raised col-md-3 qubiz-color" ng-click="questionCtrl.prevPage()">
                <i class="material-icons" style="margin-top: 12px;">skip_previous</i>
            </md-button>
            <input ng-model="questionCtrl.pageNumber" ng-change="questionCtrl.updatePage()" class="col-md-3" style="margin-top: 5px;height: 50px;">
            <md-button class="md-raised col-md-3 qubiz-color" ng-click="questionCtrl.nextPage()">
                <i class="material-icons" style="margin-top: 12px;">skip_next</i>
            </md-button>
        </div>
    </div>
    <div class="col-md-10" ng-show="questionCtrl.selectedQuestion">
        <div>
            <div class="col-md-6" style="font-size: 32px;"><b>{{questionCtrl.selectedQuestion.Number}}</b> - ({{questionCtrl.selectedQuestion.Section}})</div>
            <div class="col-md-3 pull-right">
                <md-button class="md-raised col-md-3 qubiz-color" ng-click="questionCtrl.deleteSelected()">
                    <i class="material-icons" style="margin-top: 12px;">delete</i>
                </md-button>
            </div>
        </div>
    </div>
</div>