@{
    ViewBag.Title = "Questions";
}

<div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
    <div class="col-md-2">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools qubiz-color">
                <span>Questions({{questionCtrl.Questions.TotalCount}})</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <md-list-item ng-repeat="question in questionCtrl.Questions.Items" ng-click="questionCtrl.selectQuestion(question)">
                    <div class="md-list-item-text" layout="column">
                        <b>{{question.Number}}</b> - ({{question.Section}})
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        <div class="col-md-12">
            <md-button class="md-raised col-md-3 qubiz-color" ng-click="questionCtrl.prevPage()">
                <i class="material-icons" style="margin-top: 12px;">skip_previous</i>
            </md-button>
            <input ng-model="questionCtrl.pageNumber" ng-change="questionCtrl.updatePage()" class="col-md-3" style="margin-top: 5px;height: 50px;">
            <md-button class="md-raised col-md-3 qubiz-color" ng-click="questionCtrl.nextPage()">
                <i class="material-icons" style="margin-top: 12px;">skip_next</i>
            </md-button>
        </div>
    </div>
    <div class="col-md-10" ng-show="questionCtrl.selectedQuestion">
        <div>
            <div class="col-md-6" style="font-size: 32px;"><b>{{questionCtrl.selectedQuestion.Number}}</b> - ({{questionCtrl.selectedQuestion.Section}})</div>
            <div class="col-md-3 pull-right">
                <md-button class="md-raised col-md-3 qubiz-color" ng-click="questionCtrl.deleteSelected()">
                    <i class="material-icons" style="margin-top: 12px;">delete</i>
                </md-button>
            </div>
        </div>
    </div>
</div>