@{
    ViewBag.Title = "Questions";
}

<div class="container" style="margin-top: 20px;">
    <div class="col-md-6">
        <md-button class="md-raised col-md-2 qubiz-color" ng-click="questionCtrl.addPage()">
            <i class="material-icons" style="margin-top: 12px;">add</i>
        </md-button>
    </div>
    <div class="col-md-6">
        <md-button class="md-raised col-md-2 qubiz-color pull-right" ng-click="questionCtrl.nextPage()">
            <i class="material-icons" style="margin-top: 12px;">skip_next</i>
        </md-button>
        <input ng-model="questionCtrl.pageNumber" ng-change="questionCtrl.updatePage()" class="col-md-2 pull-right" style="margin-top: 5px;height: 50px;">
        <md-button class="md-raised col-md-2 qubiz-color pull-right" ng-click="questionCtrl.prevPage()">
            <i class="material-icons" style="margin-top: 12px;">skip_previous</i>
        </md-button>
    </div>
    <table class="mdl-data-table mdl-js-data-table col-md-12">
        <thead>
            <tr>
                <th><h3 class="pull-left">Questions({{questionCtrl.Questions.TotalCount}} on {{questionCtrl.maxPages}} pages)</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="question in questionCtrl.Questions.Items" ng-click="questionCtrl.selectQuestion(question)" style="cursor: pointer; transition-duration: 0s;">
                <td>
                    <div class="col-md-6"><h3 class="pull-left"><b>{{question.Number}}</b> - ({{question.Section}})</h3></div>
                    <div class="col-md-6">
                        <md-button class="md-raised col-md-2 pull-right qubiz-color" ng-click="questionCtrl.deleteQuestion(question)">
                            <i class="material-icons" style="margin-top: 12px;">delete</i>
                        </md-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>