
@{
    ViewBag.Title = "Sections";
}
<div class="container qubiz-container">

	<md-input-container flex="" class="col-md-4 col-md-offset-1">
		<label class="qubiz-search-label">
			Search section
			<i class="material-icons">search</i>
		</label>
		<input valign="bottom" type="text" ng-model="searchSection">
	</md-input-container>

	<md-button class="CustomButton md-primary col-md-1 col-md-offset-4 qubiz-add-button" ng-click="sectionsCtrl.addSection()">
		Add
	</md-button>

	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp col-md-9 col-md-offset-1">
		<tbody>
			<tr ng-repeat="section in sectionsCtrl.sections | filter : searchSection" class="repeated-item" flex="">
				<td class="qubiz-table-text-align">{{section.Name}}</td>
				<td>
					<i class="material-icons2 btn-primary qubiz-edit-button" ng-click="sectionsCtrl.showConfirm($event,section)">delete</i>
					<a class="material-icons2 btn-primary" ng-click="sectionsCtrl.editSection(section.ID)">mode_edit</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>

