
@{
	ViewBag.Title = "PrintPreview";
}

<a class="btn btn-primary print-button print-preview-button" ng-click="print()">Print</a>
<div class="col-md-1" /><div id="detail" class="col-md-10" style="padding-bottom:50px">
	<exam-detail exam="SelectedExam"></exam-detail>
</div>
<div class="col-md-12 md-no-float" style="overflow: auto">
	<answers-details-print exam="SelectedExam" expanded="expanded"></answers-details-print>
</div>