
@{
    ViewBag.Title = "PrintPreview";
}

<div id="detail" class="col-md-10" style="padding-bottom:50px">
    <exam-detail exam="SelectedExam"></exam-detail>
</div>
<div class="col-md-12 md-no-float" style="overflow: auto">
    <answers-details exam="SelectedExam" expanded="expanded"></answers-details>
</div>
