md-input-container .md-errors-spacer {
	min-height: 0;
}

.qubiz-search-label {
	font-size: 30px;
	font-weight: 300;
	padding-left: 7% !important;
	color: grey !important;
}

.qubiz-add-button {
	margin-left: 30.9% !important;
	min-width: 10% !important;
}

.qubiz-container {
	padding-top: 2%;
}

.qubiz-table-text-align {
	text-align: left !important;
}

.qubiz-edit-button {
	float: right !important;
	margin-right: 10px !important;
}
